@import "_variables";

footer {
    width: 100%;
    height: 60px;
    @include flex-position(space-between, none, none);
    background-color: #dbdbdd;
    line-height: 60px;
    margin-top: 80px;
    .contact {
        width: 150px;
        height: 45px;
        display: flex;
        margin: 10px 0px 0px 30px;
        a {
            cursor: pointer;
            width: 40px;
            height: 40px;
            background-color: $icon-background-color;
            margin-left: 12px;
            border-radius: 50%;
            @include flex-position(center, center, none);
            @include background-image-center;
            &.facebook {
                background-image: url(../resources/img/facebook.png);
                &:hover,
                &:active,
                &:visited,
                &:focus {
                    background-image: url(../resources/img/facebook_colored.png);
                }
            }
            &.twitter {
                background-image: url(../resources/img/twitter.png);
                &:hover,
                &:active,
                &:visited,
                &:focus {
                    background-image: url(../resources/img/twitter_colored.png);
                }
            }
            &.mail {
                background-image: url(../resources/img/mail.png);
                &:hover,
                &:active,
                &:visited,
                &:focus {
                    background-image: url(../resources/img/mail_colored.png);
                }
            }
        }
    }
    .navigation {
        width: 380px;
        ul {
            li {
                cursor: pointer;
                display: inline-block;
                margin-left: 5px;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
    #top-arrow {
        width: 40px;
        height: 40px;
        background-color: $icon-background-color;
        border-radius: 50%;
        @include flex-position(center, center, none);
        margin: 10px 30px 0px 0px;
        background-image: url(../resources/img/top.png);
        @include background-image-center;
        cursor: pointer;
        &:hover,
        &:active,
        &:visited,
        &:focus {
            background-image: url(../resources/img/top_colored.png);
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        margin-top: 55px;
        .contact {
            margin-left: 10px;
        }
        .navigation {
            display: none;
        }
        #top-arrow {
            margin-right: 15px;
        }
    }
    
}
