@import "_variables";

main {
    width: 100%;
    .main-section {
        height: 310px;
        background-color: #f3f3f3;
        background-image: url(../resources/img/bg-dots.png);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .gradient-line {
            width: 100%;
            height: 8px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, $home-color 0%, $contact-color 100%);        
        }
        .profiles-div {
            margin-right: 40px;
            img {
                width: 170px;
                height: 170px;
            }
        }
        .main-header {
            width: 340px;
            h1 {
                text-transform: uppercase;
                font-size: 48px;
                color: #757575;
            }
        }
    }
    .small-screen {
        display: none;
    }
    .slider-section {
        display: none;
    }
    .first-section,
    .second-section {
        width: 420px;
        height: 315px;
        margin: 0 auto;
        h2 {
            width: 200px;
            font-size: 30px;
            color: #757575;
            text-transform: uppercase;
            margin: 40px 0px 20px 0px;
        }
    }
    
    .first-section {
        .first-row,
        .second-row {
            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            .box-one,
            .box-two {
                width: 190px;
                height: 115px;
                background-color: #e9e9e9;
                background-position: center;
                background-repeat: no-repeat;
            }
            .box-one {
                background-image: url(../resources/img/main_ourWork.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_ourWork_colored.png);
                }
            }
            .box-two {
                background-image: url(../resources/img/main_like.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_like_colored.png);
                }
            }
            .text {
                width: 185px;
                height: 115px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                div {
                    text-align: right;
                    button {
                        width: 68px;
                        height: 25px;
                        background-color: #f3f3f4;
                        border: none;
                        font-size: 11px;
                        &:hover {
                            background-color: #bbd547;
                            color: #fff;
                        }
                    }
                }
                h4 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 12px;
                    line-height: 1.3em;
                }
            }
        }
    }
    .first-row {
        margin-bottom: 40px;
    }
}
    .second-section {
        margin-top: 40px;
        h2 {
            margin-top: 0px;
        }
        .first-boxes,
        .second-boxes {
            display: flex;
            justify-content: space-between;
            div {
                background-color: #e9e9e9;
                width: 190px;
                height: 115px;
            }
        }
        .first-boxes,
        .second-boxes {
            div {
                background-repeat: no-repeat;
                background-position: center; 
            }
        }
        .first-boxes {
            margin-bottom: 40px;
            div:first-child {
                background-image: url(../resources/img/main_calculator.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_calculator_colored.png);
                }
             }
            div:last-child {
                background-image: url(../resources/img/main_cloud.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_cloud_colored.png);
                }
            }
        }
        .second-boxes {
            div:first-child {
                background-image: url(../resources/img/main_clock.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_clock_colored.png);
                }
            }
            div:last-child {
                background-image: url(../resources/img/main_heart.png);
                &:hover, &:active, &:visited, &:focus {
                    background-image: url(../resources/img/main_heart_colored.png);
                }
            }
        }
    }  
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    main {
        .small-screen {
            display: none;
        }
        .main-section {
            .profiles-div {
                img {
                    width: 135px;
                    height: 135px;
                }
            }
            .main-header {
                width: 270px;
                h1 {
                    font-size: 38px;
                }
            }
        }
        .slider-section {
            display: none;
        }
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
    main {
        .owl-carousel {
            display: none;
            visibility: hidden;
        }
        .small-screen {
            display: block;
            margin-top: -160px;
        }
        .main-section {
            height: 120px;
            .profiles-div {
                display: flex;
                justify-content: center;
                margin: 0;
                img {
                    margin: 15px auto;
                    width: 99px;
                    height: 98px;
                }
            }
            .main-header {
                display: none;
            }
        }
        .slider-section {
            width: 100%;
            height: 60px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #757575;
            border-bottom: 1px solid #757575;
        }
        .first-section,
        .second-section {
            h2 {
                margin: 20px auto;
            }
        }
        .first-section {
            margin-bottom: 120px;
            .first-row,
            .second-row {
                .content {
                    display: flex;
                    flex-direction: column;
                    .text {
                        height: 0px;
                        p {
                            display: none;
                        }
                    }
                }
            }
            .first-row {
                margin-bottom: 80px;
            }
        }
        .second-section {
            height: 580px;
            .first-boxes,
            .second-boxes {
                display: flex;
                flex-direction: column;
                div {
                    margin: 15px auto;
                }
            }
            .first-boxes {
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }
}

